<ul
    class="rounded-t-md flex flex-row justify-between py-5 px-10 border-b-1 border-black/25 border-opacity-100 items-center">
    <li class="">
        <span class="font-mono text-xl font-[300] w-20 h-10 pt-10">Message Board</span>
    </li>
    <li>
        <a href="/">

            <button
                class="font-mono text-[16px] font-[300] rounded-md shadow-xl border-[0.5px] border-black/10 w-20 h-10 hover:scale-105 active:scale-101 transition">Home</button>
        </a>
    </li>
</ul>